[submodule "third_party/kmeans_pytorch"]
	path = third_party/kmeans_pytorch
	url = git@github.com:subhadarship/kmeans_pytorch.git
[submodule "third_party/segment-anything"]
	path = third_party/segment-anything
	url = git@github.com:facebookresearch/segment-anything.git
